body {
  font-family: "Lato", sans-serif;
}


.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
 
/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}

.sidenav {
  height: 100%;
  width: 280px;
  position: fixed;
  z-index: 1;
  top: 5;
  left: 0;
  background-color: #555;
  overflow-x: hidden;
  padding-top: 0px;
 
  
}

.sidenav li {
  color: #ffffff;
}

.sidenav ul {
  list-style-type: none;
}

/* Links inside the side navbar */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  display: block;
  text-align: left;
}

/* Change link color once visited */
.sidenav a:visited {
  color: #33FCFF;
}

/* Change link color on mouse-over */
.sidenav a:hover {
  color: black;
  background: #ddd;
}


.sidenav a:active {
  color: black;
  background: #ddd;
}


.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}



.main {
  margin: 0px;
  margin-left: 280px; /* Same as the width of the sidenav */
  margin-top: 50px;
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Links inside the main frame */
.main a {
  
  text-decoration: underline;
  font-size: 18px;
  color: #0000ff;
  
}

/* Change link color once visited */
.main a:visited {
  color: #006400;
}

/* Change background on mouse-over */
.main a:hover {
  color: #A52A2A;
}


.main a:active {
  color: #E74C3C;
}



.notbold{
    font-weight:normal
}​


.button-style{
  width: 1000px;
  height: 1000px;
  font-size: 25px;
  padding: 10px 20px;

}


button[type=submit]{
  
  font-size: 18px;
}


.hint_text {
  font-size: 18px;
}

.error_text{  
  font-size: 15px;
  color: red;
}


.text_box{
  height: 25px;
  width: 200px;
  font-size: 15px;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

