{% extends "base.html" %}
{% from "show_chapters.html" import show_chapters %}
{% from "show_top_menu.html" import show_top_menu %}

{% block title %} Chapters {% endblock %}

{% block top_menu %}
         {{ show_top_menu(user) }}
{% endblock %}


{% block nav %}
    {{ show_chapters() }}   
{% endblock %}


{% block body %}

  <div class="main">
    <h5><br>Watch the video below.</h5>
    
    <div class="iframe-container">
    	<iframe src="https://www.youtube.com/embed/{{ videoID }}" name="iframe_a" allowfullscreen></iframe>
    </div>

  </div>
{% endblock %}
