{% extends "base.html" %}
{% from "show_top_menu.html" import show_top_menu %}


{% block title %}Login{% endblock %}


{% block top_menu %}
         {{ show_top_menu(user) }}
{% endblock %}


{% block body %}

  <div class="main">

    <center><h5><br><br>Welcome to the Beginners Python Immersion Course <p><font size="4">Provide your login details and get started.</font></h5> </center>

 

      <form method="POST" action="{{ url_for('login') }}">
                <fieldset>
                  <div>
                    <label for="inputName"><font size="4" align="left">Name</font></label>
                    <div>
                      {% if usererror %}
                      <div class="error_text">{{ usererror }}</div>
                      {% endif %}
                      <input class="text_box" type="text" name="name" id="inputName" placeholder="Enter your username" required>
                      <br>
                     
                      <br>
                    </div>
                  </div>
                  <div>
                    <label for="inputPassword"><font size="4" align="left">Password</font></label>
                    <div>
                      {% if passworderror %}
                      <div class="error_text">{{ passworderror }}</div>
                      {% endif %}
                      <input class="text_box" type="password" name="password" id="inputPassword" placeholder="Enter your password" required>
                    </div>
                  </div>
                  
                  <br>

                    <div>
                      <button type="submit">Login</button>
                    </div>

                    <br>
                    
                  
                   <div class="hint_text">
                        New user? <a href="{{ url_for('register') }}" style="font-size: 16px;">Register</a>
                  </div>

                </fieldset>
    </form>
  
    
   

</div>
 




      
{% endblock %}