{% extends "base.html" %}
{% from "show_top_menu.html" import show_top_menu %}


{% block title %}Login{% endblock %}


{% block top_menu %}
         {{ show_top_menu(user) }}
{% endblock %}


{% block body %}

  <div class="main">

    <center><h5><br><br>Welcome to the Beginners Python Immersion Course <p>Provide your login details and get started.</h5> </center>

 

      <form method="POST" action="{{ url_for('login') }}">
                <fieldset>
                  <div>
                    <label for="inputName"><font size="4" align="left">Name</font></label>
                    <div>
                      {% if usererror %}
                      <div><font size="2" color="red">{{ usererror }}</font></div>
                      {% endif %}
                      <input type="text" name="name" id="inputName" placeholder="Username" required>
                    </div>
                  </div>
                  <div>
                    <label for="inputPassword"><font size="4" align="left">Password</font></label>
                    <div>
                      {% if passworderror %}
                      <div><font size="2" color="red">{{ passworderror }}</font></div>
                      {% endif %}
                      <input type="password" name="password" id="inputPassword" placeholder="Password" required>
                    </div>
                  </div>
                  <div>
                    <div>
                      <button class="button-style" type="submit">Login</button>
                    </div>
                  </div>
                </fieldset>
    </form>
  
    
   

</div>
 




      
{% endblock %}