{% extends "base.html" %}
{% from "show_top_menu.html" import show_top_menu %}


{% block title %}Register{% endblock %}


{% block top_menu %}
         {{ show_top_menu(user) }}
{% endblock %}


{% block body %}

  <div class="main">

    <center><h5><br><br>Please register</h5> </center>

 
       {% if error %}
          <div><font size="2" color="red">{{ error }}</font>></div>
       {% endif %}

      <form method="POST" action="{{ url_for('register') }}">
                <fieldset>
                  <div>
                    <label for="inputName"><font size="4" align="left">Name</font></label>
                    <div>
                              <input type="text" name="name" id="inputName" placeholder="Username" required>
                    </div>
                  </div>
                  <div>
                    <label for="inputPassword"><font size="4" align="left" required>Password</font></label>
                    <div>
                      <input type="password" name="password" id="inputPassword" placeholder="Password" required="">
                    </div>
                  </div>
                  <div>
                    <div>
                      <button class="button-style" type="submit">Submit</button>
                    </div>
                  </div>
                </fieldset>
    </form>
  
    
   

</div>
 




      
{% endblock %}