{% extends "base.html" %}
{% from "show_top_menu.html" import show_top_menu %}


{% block title %}Register{% endblock %}


{% block top_menu %}
         {{ show_top_menu(user) }}
{% endblock %}


{% block body %}

  <div class="main">

    <center><h5><br><br>Please register</h5> </center>

 
       

      <form method="POST" action="{{ url_for('register') }}">
                <fieldset>
                  <div>
                    <label for="inputName"><font size="4" align="left">Name</font></label>
                    {% if error %}
                      <div class="error_text">{{ error }}</div>
                    {% endif %}
                    <div>
                              <input class="text_box" type="text" name="name" id="inputName" placeholder="Enter username" required>
                    </div>
                  </div>
                  <br>
                  <div>
                    <label for="inputPassword"><font size="4" align="left" required>Password</font></label>
                    <div>
                      <input class="text_box" type="password" name="password" id="inputPassword" placeholder="Enter password" required="">
                    </div>
                  </div>
                  
                    <br>

                    <div>
                      <button type="submit">Submit</button>
                    </div>

                    <br>
                                      
                   <div class="hint_text">
                        Already a member?  <a href="{{ url_for('login') }}" style="font-size: 16px;">Login</a>
                  </div>
                  
                </fieldset>
    </form>
  
    
   

</div>
 




      
{% endblock %}