{% macro show_chapters() %}

 
  <ul style="list-style-type:square"> 

    <li>Pre-work
        <br><br>
        <a href="{{ url_for('prework') }}">Installations</a>
        <br>      
      
    </li>


    <li>Task 1
       <br><br>       
        <a href="{{ url_for('displayVideo', videoID='fvhNadKjE8g') }}">Chapter 1 (Part 1)</a>
        <a href="{{ url_for('displayVideo', videoID='VQZTZsXk8sA') }}">Chapter 1 (Part 2)</a>
        <a href="{{ url_for('displayVideo', videoID='LLzFNlCjTSo') }}">Chapter 1 (Part 3)</a>
        <a href="{{ url_for('displayVideo', videoID='gsry2SYOFCw') }}">Chapter 1 (Part 4)</a>
        <a href="{{ url_for('displayExercise', exerciseID='01-intro') }}">Chapter 1 Exercise</a>
        <a href="{{ url_for('submitExercise', formID='1FAIpQLSdIlY2LPsLMF85Wyk6FBsVq8dTghOSflrey9t9A1qGaJTidxQ') }}">Task Submission Form</a>
        <br> 
      
    </li>

 
  <li> Task 2
      
        <br><br>
        <a href="{{ url_for('displayVideo', videoID='7KHdV6FSpo8') }}">Chapter 2 (Part 1)</a>
        <a href="{{ url_for('displayVideo', videoID='kefrGMAglGs') }}">Chapter 2 (Part 2)</a>
        <a href="{{ url_for('displayExercise', exerciseID='02-variables') }}">Chapter 2 Exercise</a>
        <a href="{{ url_for('submitExercise', formID='1FAIpQLSf4txzb3YNouC2y3NFpZfXZfmny86I-WoP9maNk0mYMlN9n_A') }}">Task Submission Form</a>
        <br> 
        
      
  </li>


  <li> Task 3
      
         <br><br>
        <a href="{{ url_for('displayVideo', videoID='2aA3VBdcl6A') }}">Chapter 3 (Part 1)</a>
        <a href="{{ url_for('displayVideo', videoID='OczkNrHPBps') }}">Chapter 3 (Part 2)</a>
        <a href="{{ url_for('displayExercise', exerciseID='03-conditional') }}">Chapter 2 Exercise</a>
        <br> 
      
  </li>


  <li> Task 4
      
         <br><br>
        <a href="{{ url_for('displayVideo', videoID='5Kzw-0-DQAk') }}">Chapter 4 (Part 1)</a>
        <a href="{{ url_for('displayVideo', videoID='AJVNYRqn8kM') }}">Chapter 4 (Part 2)</a>
        <a href="{{ url_for('displayExercise', exerciseID='04-functions') }}">Chapter 4 Exercise</a>
        <br> 
      
  </li>


  <li>Task 5
      
         <br><br>
        <a href="{{ url_for('displayVideo', videoID='FzpurxjwmsM') }}">Chapter 5 (Part 1)</a>
        <a href="{{ url_for('displayVideo', videoID='5QDrj5ogPYc') }}">Chapter 5 (Part 2)</a>
        <a href="{{ url_for('displayVideo', videoID='xsavQp8hd78') }}">Chapter 5 (Part 3)</a>
        <a href="{{ url_for('displayVideo', videoID='yjlMMwf9Y5I') }}">Chapter 5 (Part 4)</a>
        <a href="{{ url_for('displayExercise', exerciseID='05-iterations') }}">Chapter 5 Exercise</a>
        <br> 
      
  </li>


  <li>Task 6
      
         <br><br>
        <a href="{{ url_for('displayVideo', videoID='dr98iM4app8') }}">Chapter 6 (Part 1)</a>
        <a href="{{ url_for('displayVideo', videoID='bIFpJ-qZ3Cc') }}">Chapter 6 (Part 2)</a>
        <a href="{{ url_for('displayExercise', exerciseID='06-strings') }}">Chapter 6 Exercise</a>
        <br>
      
  </li>


  <li>Task 7
      
         <br><br>
        <a href="{{ url_for('displayVideo', videoID='9KJ-XeQ6ZlI') }}">Chapter 7 (Part 1)</a>
        <a href="{{ url_for('displayVideo', videoID='0t4rvnySKR4') }}">Chapter 7 (Part 2)</a>
        <a href="{{ url_for('displayExercise', exerciseID='07-files') }}">Chapter 7 Exercise</a>
        <br>
      
  </li>


<li>Task 8
      
         <br><br>
        <a href="{{ url_for('displayVideo', videoID='ljExWqnWQvo') }}">Chapter 8 (Part 1)</a>
        <a href="{{ url_for('displayVideo', videoID='bV1FQUBIApM') }}">Chapter 8 (Part 2)</a>
        <a href="{{ url_for('displayVideo', videoID='GxADdpo6EP4') }}">Chapter 8 (Part 3)</a>
        <a href="{{ url_for('displayExercise', exerciseID='08-lists') }}">Chapter 8 Exercise</a>
        <br>
      
  </li>


<li>Task 9
      
         <br><br>
        <a href="{{ url_for('displayVideo', videoID='yDDRMb-1cxI') }}">Chapter 9 (Part 1)</a>
        <a href="{{ url_for('displayVideo', videoID='LRSIuH94XM4') }}">Chapter 9 (Part 2)</a>
        <a href="{{ url_for('displayVideo', videoID='ZDjiFB1Ib84') }}">Chapter 9 (Part 3)</a>    
        <a href="{{ url_for('displayExercise', exerciseID='09-dictionaries') }}">Chapter 9 Exercise</a>
        <br>

      
  </li>


<li>Task 10
      
         <br><br>
        <a href="{{ url_for('displayVideo', videoID='CaVhM65wD6g') }}">Chapter 10 (Part 1)</a>
        <a href="{{ url_for('displayVideo', videoID='FdUdA6o0Ij0') }}">Chapter 10 (Part 2)</a>
        <a href="{{ url_for('displayExercise', exerciseID='10-tuples') }}">Chapter 10 Exercise</a>
        <br>
      
</li>

</ul>

<br>
<br>
<br>

{% endmacro %}