{% macro show_chapters() %}

 
  <ul style="list-style-type:square"> 

    <li>Pre-work
        <br><br>
        <a href="{{ url_for('prework') }}">Installations</a>
        <br>      
      
    </li>


    <li>Task 1

       <br><br>       
        <a href="{{ url_for('displayVideo', videoID='fvhNadKjE8g') }}">Chapter 1 (Part 1)</a>
        <a href="{{ url_for('displayVideo', videoID='VQZTZsXk8sA') }}">Chapter 1 (Part 2)</a>
        <a href="{{ url_for('displayVideo', videoID='LLzFNlCjTSo') }}">Chapter 1 (Part 3)</a>
        <a href="{{ url_for('displayVideo', videoID='gsry2SYOFCw') }}">Chapter 1 (Part 4)</a>
        <a href="{{ url_for('displayExercise', exerciseID='01-intro', chapter='1') }}">Chapter 1 Summary</a>
        <a href="{{ url_for('submitExercise', formID='1FAIpQLSfsgNjul147SdWL6g2-9EdEBn_GI8-ONPaStrmbRtBXRrw4HA', chapter='1') }}">Task Submission Form</a>
        <br> 

      
    </li>

 
  <li> Task 2
      
        <br><br>
        <a href="{{ url_for('displayVideo', videoID='7KHdV6FSpo8') }}">Chapter 2 (Part 1)</a>
        <a href="{{ url_for('displayVideo', videoID='kefrGMAglGs') }}">Chapter 2 (Part 2)</a>
        <a href="{{ url_for('displayExercise', exerciseID='02-variables', chapter='2') }}">Chapter 2 Summary</a>
        <a href="{{ url_for('submitExercise', formID='1FAIpQLSeTG7sSO4fazbp1xI1ZeJG6OLNADmnUgKBOxqOwQHSzJN4Ocw', chapter='2') }}">Task Submission Form</a>
        <br> 
        

  </li>


  <li> Task 3
      
         <br><br>
        <a href="{{ url_for('displayVideo', videoID='2aA3VBdcl6A') }}">Chapter 3 (Part 1)</a>
        <a href="{{ url_for('displayVideo', videoID='OczkNrHPBps') }}">Chapter 3 (Part 2)</a>
        <a href="{{ url_for('displayExercise', exerciseID='03-conditional', chapter='3') }}">Chapter 3 Summary</a>
        <a href="{{ url_for('submitExercise', formID='1FAIpQLSekPb4QRem9sDlkI1DWNDRIUjFSK4eUspITxWky7xPQrCJkMQ', chapter='3') }}">Task Submission Form</a>
        <br> 
      
  </li>


  <li> Task 4
      
         <br><br>
        <a href="{{ url_for('displayVideo', videoID='5Kzw-0-DQAk') }}">Chapter 4 (Part 1)</a>
        <a href="{{ url_for('displayVideo', videoID='AJVNYRqn8kM') }}">Chapter 4 (Part 2)</a>
        <a href="{{ url_for('displayExercise', exerciseID='04-functions', chapter='4') }}">Chapter 4 Summary</a>
        <a href="{{ url_for('submitExercise', formID='1FAIpQLSeczd5IN0kOaPHSTI59m9ZzWOnPnu7r0Qzet2H0Z-OLe61a5w', chapter='4') }}">Task Submission Form</a>
        <br> 

  </li>


  <li>Task 5
      
         <br><br>
        <a href="{{ url_for('displayVideo', videoID='FzpurxjwmsM') }}">Chapter 5 (Part 1)</a>
        <a href="{{ url_for('displayVideo', videoID='5QDrj5ogPYc') }}">Chapter 5 (Part 2)</a>
        <a href="{{ url_for('displayVideo', videoID='xsavQp8hd78') }}">Chapter 5 (Part 3)</a>
        <a href="{{ url_for('displayVideo', videoID='yjlMMwf9Y5I') }}">Chapter 5 (Part 4)</a>
        <a href="{{ url_for('displayExercise', exerciseID='05-iterations', chapter='5') }}">Chapter 5 Summary</a>
        <a href="{{ url_for('submitExercise', formID='1FAIpQLSf_WvabY8xlTbRVNMXcTmuOU758d3f-4XMm06VGsBpYyYcSYA', chapter='5') }}">Task Submission Form</a>
        <br> 
      
  </li>


  <li>Task 6
      
         <br><br>
        <a href="{{ url_for('displayVideo', videoID='dr98iM4app8') }}">Chapter 6 (Part 1)</a>
        <a href="{{ url_for('displayVideo', videoID='bIFpJ-qZ3Cc') }}">Chapter 6 (Part 2)</a>
        <a href="{{ url_for('displayExercise', exerciseID='06-strings', chapter='6') }}">Chapter 6 Summary</a>
        <a href="{{ url_for('submitExercise', formID='1FAIpQLSee7TjBu8s58fcDERRYzarzshUX3Mw9KxgsBhZS8R9JUfKukQ', chapter='6') }}">Task Submission Form</a>
        <br>

      
  </li>


  <li>Task 7
      
         <br><br>
        <a href="{{ url_for('displayVideo', videoID='9KJ-XeQ6ZlI') }}">Chapter 7 (Part 1)</a>
        <a href="{{ url_for('displayVideo', videoID='0t4rvnySKR4') }}">Chapter 7 (Part 2)</a>
        <a href="{{ url_for('displayExercise', exerciseID='07-files', chapter='7') }}">Chapter 7 Summary</a>
        <a href="{{ url_for('submitExercise', formID='1FAIpQLSf5sLwKd0aHbThysifXpWcMCXEp4W1tduBwPKfy6pVNxIiklg', chapter='7') }}">Task Submission Form</a>
        <br>
      
  </li>


<li>Task 8
      
         <br><br>
        <a href="{{ url_for('displayVideo', videoID='ljExWqnWQvo') }}">Chapter 8 (Part 1)</a>
        <a href="{{ url_for('displayVideo', videoID='bV1FQUBIApM') }}">Chapter 8 (Part 2)</a>
        <a href="{{ url_for('displayVideo', videoID='GxADdpo6EP4') }}">Chapter 8 (Part 3)</a>
        <a href="{{ url_for('displayExercise', exerciseID='08-lists', chapter='8') }}">Chapter 8 Summary</a>
        <a href="{{ url_for('submitExercise', formID='1FAIpQLSfn2IHCLLyg7aDJaQYW_rl43pB_w62nyHqvaotAdMep3f74Iw', chapter='8') }}">Task Submission Form</a> 
        <br>
    
  </li>


<li>Task 9
      
         <br><br>
        <a href="{{ url_for('displayVideo', videoID='yDDRMb-1cxI') }}">Chapter 9 (Part 1)</a>
        <a href="{{ url_for('displayVideo', videoID='LRSIuH94XM4') }}">Chapter 9 (Part 2)</a>
        <a href="{{ url_for('displayVideo', videoID='ZDjiFB1Ib84') }}">Chapter 9 (Part 3)</a>    
        <a href="{{ url_for('displayExercise', exerciseID='09-dictionaries', chapter='9') }}">Chapter 9 Summary</a>
        <a href="{{ url_for('submitExercise', formID='1FAIpQLSfUCDFyobvVIX33JI-J7K2cz6dsy3WU63Jt68oWVN-SZefFew', chapter='9') }}">Task Submission Form</a>
        <br>

     
  </li>


<li>Task 10
      
         <br><br>
        <a href="{{ url_for('displayVideo', videoID='CaVhM65wD6g') }}">Chapter 10 (Part 1)</a>
        <a href="{{ url_for('displayVideo', videoID='FdUdA6o0Ij0') }}">Chapter 10 (Part 2)</a>
        <a href="{{ url_for('displayExercise', exerciseID='10-tuples', chapter='10') }}">Chapter 10 Summary</a>
        <a href="{{ url_for('submitExercise', formID='1FAIpQLScaDjReOcrEYEPuNDuYi5c6kpBnc1-3qrVBWem0_0CiLqKvUw', chapter='10') }}">Task Submission Form</a>
        <br>

</li>

</ul>

<br>
<br>
<br>

{% endmacro %}