{% macro show_top_menu(user) %}


    {% if user %}
        <a href="{{ url_for('homepage') }}">Home</a>
        <a href="{{ url_for('prework', chapter_name='prework') }}">Tasks</a>
       
        <a href="{{ url_for('logout') }}" style="float: right">&nbsp;&nbsp;&nbsp;Logout&nbsp;&nbsp;&nbsp;</a>
        <a href="{{ url_for('homepage') }}" style="float: right">Welcome, {{ user }}</a>
    {% endif %}

    {% if not user %}
        <a href="{{ url_for('index') }}">Login</a>       
        <a href="{{ url_for('register') }}">Register</a>  
    {% endif %}

{% endmacro %}