{% extends "base.html" %}
{% from "show_chapters.html" import show_chapters %}
{% from "show_progress.html" import show_progress %}
{% from "show_top_menu.html" import show_top_menu %}


{% block title %} Tasks {% endblock %}

{% block top_menu %}
         {{ show_top_menu(user) }}
{% endblock %}


{% block nav %}

    {{ show_progress(progress) }}


    {{ show_chapters() }}   


{% endblock %}


{% block body %}

  <div class="main">

    <center><h5><br><br>Hi <b>{{ user }}</b>, click on the link to the tasks from left navigation bar to access the course content.

      <br><br> Please start with the <b>Installation</b> link under the <b>Pre-work</b> section or resume from where you left last.

    </h5>

    

    
    </center>


  </div>

{% endblock %}
